/* Nav */

.nav {
  padding: 20px 0;
  background-color: var(--nav-bg);
  border-bottom: 1px solid var(--nav-border);
  color: var(--nav-text);
  letter-spacing: normal;
}

.nav-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.logo {
  margin-right: auto;
  color: var(--nav-text);
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

.logo strong {
  font-weight: 700;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  align-items: center;
  column-gap: 40px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  /* padding-top: 10px; */
  margin-bottom: -5px;
}

.nav-list__link {
  color: var(--nav-text);
  transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
  opacity: 0.8;
}

.nav-list__link--active {
  position: relative;
}

.nav-list__link--active::before {
  content: "";

  position: absolute;
  left: 0;
  top: 100%;

  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--accent);
}
.btn-primary {
  padding: 15px 30px;
  background-color: var(--accent);
  border-radius: 10px;
}
/* .signin1 {
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 2px 20px;

  border-radius: 5px;
  background-color: var(--accent);
  color: var(--white);
  letter-spacing: 0.15px;
  font-size: 16px;
  font-weight: 500;
} */
.profile {
  position: relative;
  left: 90px;
  width: 30px;
  cursor: pointer;
}
.modalProfile {
  width: 220px;
  height: 250px;
  background-color: #fff;
  color: #333;
  position: fixed;
  left: 1250px;
  top: 120px;
  z-index: 5;
  border-radius: 10px;
}
.modalProfile_wrapper {
  padding: 10px 10px;
}
.modalProfile_title {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.btn {
  margin-left: 42px;
}
.modalProfile__list {
  text-align: center;
  position: relative;
  right: 45px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modalProfile__list li a {
  width: 150px;
}
.btn-primary {
  color: #fff;
}
